/* ================================
        ALL
   ================================ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #2a2c53;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 10rem;
  color: white;
  text-align: center;
  margin-top: 15px;
  font-family: 'Slabo 13px', serif;
}

/* ================================
        Responsive
   ================================ */
/* ================================
    MIXIN
   ================================ */
/* ================================
    CARD POKEMON -> CONTAINER
   ================================ */
#poke_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon {
  width: 100%;
  max-width: 50vh;
  height: 100%;
  min-height: 60vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ================================
    TEXT -> infos
   ================================ */
.infos {
  text-align: center;
}

.infos__title {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 3rem;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.infos__number {
  padding-top: 15px;
  font-size: 3.5rem;
  color: #c9d5d8;
  font-family: 'Rubik', sans-serif;
}

.infos__types {
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2rem;
  color: #ffffff;
  background-color: #53585c;
}

/* ================================
    SPRITE / PICTURE
   ================================ */
.spriteOrigine {
  background-color: white;
  width: 100%;
  height: 30vh;
  margin-right: auto;
  margin-left: auto;
}

.spriteOrigine__picture {
  display: block;
  width: 25vh;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 20px;
  margin-right: auto;
  margin-left: auto;
}

.spriteGame {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0% 0% 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.spriteGame__Face {
  width: 10vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.spriteGame__Back {
  width: 10vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* ================================
    BUTTON
   ================================ */
#modal-btn {
  background-color: orange;
  border: none;
  border-radius: 40px;
  padding: 3px 20px 20px 20px;
  margin-left: 1vh;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
}

@media (min-width: 768px) {
  #modal-btn {
    margin-left: 13vh;
  }
}

@media (min-width: 1024px) {
  #modal-btn {
    margin-left: 150vh;
  }
}

.gifPika {
  margin-right: 20px;
}

/* ================================
    POP UP / MODAL
   ================================ */
.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #dbe3ec;
  padding: 20px;
  margin: auto;
  width: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 40px;
}

.close-btn {
  float: right;
  color: #555555;
  font-size: 24px;
  font-weight: bold;
}

.close-btn:hover {
  color: darkgray;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 90px;
}

.search-form .search-input {
  border: none;
  border-radius: 20px;
  padding: 20px 20px;
}

.search-form .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: orange;
  border: none;
  border-radius: 40px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .search-form .submit-button {
    padding: 5px 20px 5px 20px;
    margin-left: 15vh;
  }
}

.search-form .gifPikaTwo {
  margin-top: 5px;
}

.containerSpriteFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spriteFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titleSearch {
  font-size: 4rem;
  color: #2a2c53;
  text-align: center;
  margin-top: 20px;
  font-family: 'Slabo 13px', serif;
}

.card-name {
  font-size: 3rem;
  color: white;
  margin-top: 50px;
  text-align: center;
  font-family: 'Slabo 13px', serif;
  background-color: #72749b;
  border-radius: 20px;
}

.card-type {
  font-size: 3rem;
  color: #acacc7;
  margin-top: 30px;
  text-align: center;
  font-family: 'Slabo 13px', serif;
}
/*# sourceMappingURL=style.css.map */